// Place all the styles related to the Reader_for_pdfs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	font-size: 400%;
}

p {
	color: green;
}

#page_one {
	background-color: orange;
}